{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

<!-- {% block title %}{{ SITENAME }} - {{ article.title|striptags  }}{% endblock %} -->

{% block head %}
  {{ super() }}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
<section id="content" class="body">
  <div class="entry-content">
    {{ article.content }}
  </div><!-- /.entry-content -->
  <div class="post-info">
    <p style="text-align: right">
      {{ article.locale_date }}
    </time>
    {% if article.modified %}
    <time class="modified" datetime="{{ article.modified.isoformat() }}">
      | {{ article.locale_modified }}
    </time>
    {% endif %}
    </p>
  </div><!-- /.post-info -->
</section>
{% endblock %}
