@charset "UTF-8";
@import url("/theme/css/dracula.css");

:root {

    /* Gruvbox */
    /* --color-yellow:#fabd2f; */
    /* --color-aqua:#8ec07c; */
    /* --color-blue:#83a598; */
    /* --color-0:#282828; */
    /* --color-8:#928374; */
    /* --bg-color:#282828; */
    /* --fg-color:#ebdbb2; */

    /* Gotham */
    /* --color-yellow:#edb54b; */
    /* --color-aqua:#26a98b; */
    /* --color-blue:#33859d; */
    /* --color-0:#0a0f14; */
    /* --color-8:#19151b; */
    /* --bg-color:#0a0f14; */
    /* --fg-color:#98d1ce; */

    /* Basic */
    --color-yellow:#fded01;
    --color-aqua:#f7f7f7;
    --color-blue:#f7f7f7;
    --color-0:#080300;
    --color-8:#5c5855;
    --bg-color:#090300;
    --fg-color:#a5a2a2;

}

body {
    background: var(--bg-color);
    color: var(--fg-color);
    padding: 1em;
}

p,h1,h2,h3,h4,h5,h6,b,i,a,pre {
    font-family: monospace;
}

p,b,i,a {
    font-size: 16px;
}

h1,h2,h3,h4,h5,h6 {
    align: center;
}

hr {
    width: 40%;
    margin-left: 60%;
}

pre.header, a.header {
    font-size: 14px;
    font-family: monospace;
}


#container {
    margin: 1em auto;
    max-width: 770px;
}

img[src*="#headimg"] {
    width: 100%;
    padding-top: 1em;
    margin-bottom: 0;

}

img[src*="#big"] {
    width: 100%
}

#menu a, nav, ul, li, h {
    margin-bottom: 0;
    margin-top: 0;
    text-decoration: none;
    color: var(--color-aqua);
}
#menu ul li {
    list-style-type: none;
    display: inline;
    text-align: right;
}
#menu li.active > a {
    background-color: var(--color-yellow);
    color: var(--bg-color);
}

#header {
    border-bottom: 1px dashed var(--dashed-line-color);
    border-top: 1px dashed var(--dashed-line-color);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 0 1em 0;
    margin-bottom: 2em;
}
#footer a, ul, li, h1 {
    margin-bottom: 0;
    margin-top: 0;
    /* text-decoration: none; */
    /* color: var(--color-aqua); */
}
#menu li {
    margin-left: 0.3em;
}

#footer {
    border-top: 1px dashed var(--dashed-line-color);
    margin-top: 2em;
    padding-top: 0.5em;
}
#footer p {
    float: right;
}

.stubby {
    padding-left:2em;
    color: var(--fg-color);
    margin: 0;
}
#content ul {
    padding-left: 2em;
}
#content ol {
    padding-left: 3.8em;
}
#content li {
    color: var(--fg-color);
    font-weight: normal;
}
#content ul li:before {
    content: '>> ';
}
#date {
    text-align: right
}


pre {
    line-height: 1em;
    font-size: 16px;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    padding: 0.5em;
}

/* Code */
code {
    color: var(--code-fg);
    background-color: var(--code-bg);
    word-wrap: break-word;
    display: inline;
    font-size: 15px;
    display: inline-block;
}

/* code.language-b { */
/*     padding: 0.5em 0.5em; */
/*     display: inline-block; */
/*     margin: 0.5em; */
/* } */

/* Links */
a {
    color: var(--color-blue);
    text-decoration: underline;
}
a:hover {
    color: #000;
    background: var(--fg-color);
}
.entry-title > a {
    color: var(--color-aqua);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, strong {
    color: var(--color-aqua);
}
/*     font-size: 1em; */
/*     font-weight: bolder; */
/* } */

h1 {
    font-size: 2em;
    padding-top: 2em;
}

img {
    border: none;
    line-height: 1;
}

ul {
    list-style: none;
}
ul > li {
}
ul > li:before {
    content: "- ";
}
ol {
    list-style-type: lower-roman;
}

table {
    border-collapse: collapse;
}
td {
    border: 1px dashed var(--dashed-line-color);
}
th, td {
    padding: .5em;
}

tbody tr:nth-child(even) {
    background-color: var(--color-fg); }
/* tbody tr:nth-child(odd) { */
/*     background-color: var(--code-bg); } */

.highlighttable tr {
    --color-8: #282a36;
}

/* Make sure that in-line code blocks are word-wrapped */
